*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    min-height: 100vh;
}



main{
    width: 75%;
    min-height: 100%;
    background-color: ghostwhite;
    margin: 5px 15px;
    border-radius: 0.6em;
    padding: 10px;
}

aside{
    width: 25%;
    min-height: 100%;
    color: #5a5c51;
    background-color: #a4b1a8;
}

.choose-sort-by-wrapper{
    display: flex;
    text-align: center;
}
input[type='radio']{
    display: none;
}
input[type='radio'] ~ label{
    display: block;
    float: left;
    width: 50%;
    padding: 10px;
    border: 1px solid darkgray;
    background-color: #e3e3e3;
}
 input[name='tags']{
    display:none;
}

.select-sort-type{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    text-align: center;
    margin: 10px 5px;
    background-color: #a4b1a8;
}

input[name='tags'] ~ label{
    display:inline-block;
    min-width: calc(100% * (1/3)  - 5px);
    border: 1px solid ghostwhite ;
    border-radius: 15px;
    padding: 5px 15px;
    margin-bottom: 5px;
    background-color: #e3e3e3;
}

input[name='sort-by'] ~label{
    font-weight: bold;
}
.cards-array-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}
.card-wrapper{
    display: flex;
    width: calc(100% * (1/2)  - 15px);
    flex-direction: column;
    text-align: center;

    padding-bottom:1.5rem;
}

.cart-title-wrapper{
    width: 100%;

}


a[href="#top"]{
    position: fixed;
    bottom: 15px;
    right: 30px;
    padding: 30px;
    z-index: 3000;
    background-color:  #b0a18e;
    color: #1d2120;
    text-align: center;
    border: 3px solid #1d2120;
}

input[name='tags']:checked + label{
    background-color: #b5b5b7;
}

input[name='tags']:hover + label{
    background-color: darkgray;
}

input[type='radio']:hover + label{
    background-color: #c9c9c9;
}

input[type='radio']:checked + label{
    background-color: #b5b5b7;
}

.card-cancel{
    width:40px;
    height:40px;
    float: right;
    border: none;
    border-radius: 50%;
    background-color: ghostwhite;
    font-size: 24px;
    transition: .5s ease-in-out;
}
.card-cancel:hover{
    background-color: #e9ece5;
}

input[type='text']{
    width: 90%;
    padding:5px 15px;
    margin:50px 15px;
    font-size: 20px;

}

.card-wrapper{
    border: 1px solid darkgray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px 15px;
}

.cart-title-wrapper{
    padding: 5px 0;
}
.cart-description-wrapper{
  margin-bottom: 15px;
    text-align: justify;
}

.cart-img-wrapper{
    margin-bottom: 20px;

}

.cart-date-wrapper{
    letter-spacing: 2px;
    margin-bottom: 5px;

}

.cart-tags-wrapper{

}


a:hover, a:link, a:active, a:visited{
    text-decoration: none;
    color: #1d2120;
    font-size: 24px;
}

